# Xcode
DerivedData/
build/
xcuserdata/
.idea/
*.xcworkspace/xcuserdata/

# SwiftPM
.swiftpm/

# Logs
*.log

# iOS – do not upload archives
*.xcarchive

# Do not upload Carthage / CocoaPods builds
Carthage/Build/
Pods/

# Do not upload personal user settings
*.xcuserstate

# Simulator files
*.simdevicetype
*.simruntime

# Fastlane (optional)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
